################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/.vs/HealthilyProject
/.vs
/HealthilyProject/bin
/HealthilyProject/obj
